@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
   --red-color: #ff4c77;
   --white-color: #ffffff;
   --black-color: #282828;
   --grey-color: #8d8d8d;

   --green-btn: #3ca022;
   --green-btn-hover: #4ec230;
   --red-btn: #d41442;
   --red-btn-hover: #e6323b;
}

*{
   font-family: "Inter", Arial, sans-serif;
   line-height: 1.5;
   font-weight: normal;
   font-size: 1rem;
   color: var(--black-color);
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   min-width: 320px;
   min-height: 100vh;
}

/* general */
h1 {
   font-size: 3.2em;
   font-family: "Titan One", Arial, sans-serif;
   font-weight: 400;
   color: var(--black-color);
}
h2 {
   font-size: 1.6em;
   font-family: "Titan One", Arial, sans-serif;
   font-weight: 400;
   margin-bottom: 0;
   color: var(--grey-color);
   margin-bottom: -15px;
}

.img {
   background-size: contain;
   border-radius: 10px;
}

/* buttons */
.btn {
   background-color: transparent;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.primary-btn {
   position: relative;
   z-index: 1;
   color: var(--white-color);
   padding: 10px 10px 5px 10px;
   transition: color 0.2s;
   font-weight: bold;
   border-bottom: solid 6px var(--white-color);
   overflow: hidden;
}
.primary-btn::before {
   content: "";
   position: absolute;
   top: 100%;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: var(--white-color);
   z-index: -1;
   transition: top 0.2s ease;
}
.primary-btn:hover {
   color: var(--red-color);
}
.primary-btn:hover::before {
   top: 0;
}

.primary-btn-alt{
   color: var(--red-color);
   border-bottom: solid 6px var(--red-color);
}
.primary-btn-alt::before {
   background-color: var(--red-color);
}
.primary-btn-alt:hover {
   color:var(--white-color);
}

.secondary-btn {
   background-color: var(--green-btn);
   color: var(--white-color);
   padding: 10px;
}
.secondary-btn:hover {
   background-color: var(--green-btn-hover);
   color: var(--white-color);
}

.logout-btn{
   background-color: var(--red-btn);
   padding: 10px;
   color: var(--white-color);
}
.logout-btn:hover{
   background-color: var(--red-btn-hover);
}

.close-btn{
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px 12px;
   font-size: 20px;
}

.btn:disabled {
   opacity: 0.6;
   cursor: not-allowed;
   background-color:grey;
}
.btn:disabled:hover {
   background-color:grey;
}

.add-btn, 
.remove-btn {
   width: 55px;
   height: 45px;
   color: var(--white-color);
}
.add-btn{
   background-color: var(--green-btn);
}
.add-btn:hover{
   background-color: var(--green-btn-hover);
}
.remove-btn{
   background-color: var(--red-btn);
}
.remove-btn:hover{
   background-color: var(--red-btn-hover);
}

.no-items{
   opacity: 0.6;
   background-color:grey;
}

/* inputs */
.input-container {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
}
.show-password{
   position: absolute;
   right: 0;
   height: 100%;
   padding: 0 10px;
   display: flex;
   align-items: center;
}
#show-icon{
   color: grey;
}

input {
   border-radius: 5px;
   width: 100%;
   border: none;
   padding: 10px;
   background-color: transparent;
   color: #252525;
   border: 2px solid grey;
   display: block;
   outline: none;
}

.input:focus {
   box-shadow: 0 0 5px #28282850;
}
.input-error {
   padding: 10px;
   border: 2px solid #e74c3c;
   border-radius: 4px;
   font-size: 16px;
}

.form>.label-error {
   color: #e74c3c;
}

.left-form{
   display: flex;
   gap: 20px;
}

/* links */
a {
   text-decoration: inherit;
   transition: 0.2s;
   font-weight: bold;
   color: var(--white-color);
}
a:hover {
   color: var(--red-color);
}

.link{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top: 20px;
   justify-content: center;
}
.link>a {
   color: var(--red-color);
}
.link>a:hover {
   text-decoration: underline;
}

/* loader */
.loader-container{
   background-color: #ffb8c9;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.loader-spinner {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 90px 145px;
}
.loader-description {
   font-family: "Titan One", Arial, sans-serif;
   font-size: 24px;
   color: #ec4b72;
}

/* scrollbar */
body::-webkit-scrollbar {
   width: 8px;
}
body::-webkit-scrollbar-thumb {
   background-color: #7b7b7b;
}
body::-webkit-scrollbar-track {
   background-color: #424242;
}

