.success {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 90vh;
}

.success > p {
   text-align: center;
}

.success-payment-svg {
   margin-bottom: 40px;
   width: 280px;
}
