.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 45px;
   padding: 80px 0 100px 0;
}

.about-section-1,
.about-section-2 {
   display: flex;
   gap: 45px;
   align-items: center;
   justify-content: center;
   max-width: 1200px;
}

@media (width < 1035px) {
   .about-page {
      gap: 70px;
   }

   .about-section-1,
   .about-section-2 {
      flex-direction: column;
      max-width: 600px;
      gap: 25px;
   }

   .about-section-1 {
      flex-direction: column-reverse;
   }
}
