.location-page{
   padding-top: 90px;
   background-color: #fff5f7;
}

.location-map{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff5f7;
}
.location-map{
   flex-direction: column;
   height: 45vh;
}

.location-title{
   margin-bottom: 30px;
}

.location-container {
   background-color: white;
   padding: 30px;
   display: flex;
   gap: 40px;
   border-radius: 10px;
}

.direction-title,
.schedule-title{
   font-weight: bold;
}

.map-container {
   border-radius: 10px;
   overflow: hidden;
}

.map-container, 
.location-schedule, 
.location-direction{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
