.profile-page{
   margin: 20px;
}

.profile-banner {
   border-radius: 10px 10px 0 0;
   height: 200px;
   background-image: url('https://wallpapers.com/images/hd/5120x1440-dual-screen-nr8t7hd5ljw5pfxn.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.profile-container {
   padding: 20px 70px;
}
.profile-picture-container{
   display: flex;
   gap: 10px;
}
.profile-picture {
   background-image: url('https://static.vecteezy.com/system/resources/thumbnails/001/840/618/small_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg');
   background-size: cover;
   background-repeat: no-repeat;

   height: 125px;
   width: 125px;
   background-color: black;
   position: absolute;
   position: relative;
   top: -60px;
   border-radius: 50%;
   margin-bottom: -40px;
   border: 6px solid white;
}

.profile-nav{
   display: flex;
   gap: 20px;
   border-bottom: 2px solid grey;
}
.profile-nav>.active{
   font-weight: bold;
   padding: 5px 10px;
}
.profile-nav>.active:hover{
   font-weight: bold;
   padding: 5px 10px;
   color: black;
}
.profile-nav>.inactive {
   font-weight: bold;
   padding: 5px 10px;
   color: grey;
}
.profile-nav>.inactive:hover{
   font-weight: bold;
   color: black;
}

.profile-nav>.danger-zone{
   color: #ff4c77;
}
.profile-nav>.danger-zone:hover{
   color: red;
}
.danger-zone>h3{
   font-weight: bold;
}

.my-data {
   padding: 25px 10px;
}
.my-data-inputs {
   display: flex;
   gap: 20px;
}
.my-data-created{
   margin: 30px 0;
}

.my-data-save-btn{
   margin-right: 20px;
}
