.shop {
   background-color: #f9e0e5;
   display: flex;
   justify-content: center;
}
.shop-container {
   display: flex;
   gap: 20px;
   padding: 40px 20px;
   padding-bottom: 100px;
   max-width: 1200px;
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
}

.buttons-section {
   margin-bottom: 55px;
   display: flex;
   max-width: 650px;
   width: 100%;
}
.buttons-section > button {
   flex: 1;
   display: inline;
   padding: 20px;
   font-weight: bold;
}
.buttons-section > .active {
   background-color: #fff5f7;
}
.buttons-section > .active:hover {
   color: #d41442;
   background-color: #ffffff;
}
.buttons-section > .inactive {
   color: #11111140;
}
.buttons-section > .inactive:hover {
   color: #d4144240;
   background-color: #fff5f770;
}

.right-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 2;
}
.left-section {
   flex: 1;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   min-width: 320px;
   max-width: 550px;
   align-items: end;
}
.left-section > h3 {
   text-align: justify;
}

.product-list {
   display: flex;
   gap: 50px 25px;
   flex-wrap: wrap;
   justify-content: center;
   min-width: 660px;
   max-width: 700px;
}
.product-list.make {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 150px;
   max-width: 700px;
   width: 100%;
}
.product-item,
.product-img {
   border: 2px solid #28282830;
}
.product-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff5f7;
   border-radius: 15px;
   width: 195px;
}
.product-item:hover .product-img {
   transform: translateY(-6px);
   box-shadow: 0 8px 0 0 #28282830;
}
.product-img {
   transition: 0.2s ease-out;
   background-color: white;
   border-radius: 15px;
   width: 140px;
   height: 140px;
   position: relative;
   top: -20px;
}
.product-price {
   color: grey;
   margin: -5px;
}
.product-name {
   color: black;
}

.product-actions {
   display: flex;
   margin: 30px 0 25px 0;
   align-items: center;
   gap: 10px;
}
.product-item > .product-price,
.product-actions > .quantity {
   font-family: consolas;
}

.no-product-available {
   display: flex;
   flex-direction: column;
   margin: auto;
   text-align: center;
}

/* admin */
.admin-actions {
   padding: 20px 31px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-self: center;
}
.admin-actions > button {
   width: 138px;
}

.popup {
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(1.5px);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 4;
}
.popup-content {
   position: relative;
   background: #f9e0e5;
   padding: 35px;
   border-radius: 8px;
   width: 400px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.popup-content > h3 {
   margin-top: -5px;
   font-size: 20px;
   font-weight: bold;
}
.popup-content > p {
   margin-top: -5px;
}

.popup-content,
.map-popup-content {
   -webkit-animation: popEffect 0.2s ease-out forwards;
}

@keyframes popEffect {
   0% {
      transform: scale(0.8) translateY(20px);
      opacity: 0;
   }
   60% {
      transform: scale(1.1) translateY(-10px);
      opacity: 0.6;
   }
   100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
   }
}

.confirmation-product {
   font-weight: bold;
}

.select-product-img {
   margin-top: 15px;
   width: 200px;
}

.purchase-container {
   background-color: white;
   padding: 30px 50px;
   border-radius: 5px;
   width: 100%;
}
.purchase-title {
   text-align: center;
   font-weight: bold;
   margin-bottom: 25px;
}
.purchase-total {
   text-align: end;
}
.cart-list {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.cart-list > p {
   text-align: center;
}
.cart-items,
.purchase-total {
   display: flex;
   gap: 10px;
   justify-content: space-between;
}
.cart-items > p {
   color: grey;
}

.cart-items > p,
.purchase-total > p {
   font-family: consolas;
}
.cart-buy-btn {
   margin-top: 25px;
}
